.title {
    font-size: 3em;
    color: white;
}

.subtitle {
    font-size: 1.2em;
    color: white;
}

body {
    background-color: #000000;
    opacity: .90;
    font-family: 'Helvetica Neue';
    margin: 3em;
}

/* streamer-side */

.input-text {
    height: 3em;
    color: white;
    background-color: #363436;
    width: 20%;
    border: none;
}

.submit-button {
    margin-block-start: 1em;
    height: 2em;
    width: 15%;
    background-color: #5F4996;
    color: white;
    border: none;
    font-size: 2em;
}

.relationship-icon {
    height: 3em;
}

/* viewer side */

.user {
    display: flex;
    align-items: center;
    margin-block-end: 2em;
}

.user-profile {
    background-color: #5F4996;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin-right: 1em;
}

.user-info {
    margin-left: 1em;
}

.user-name {
    color: white;
    font-size: 2em;
}

.user-subscribers {
    color: white;
    font-size: 1em;
}
